.love-world {
  width: 100%;
  height: 100%;
  padding-bottom: 0.5rem;
  .layout-wrapper{
    position: absolute;
    width:100%;
    height:100%;
    overflow-y: scroll;
    .layout-container {
        background: transparent;
        .header-wrapper {
            position: relative;
            background: rgba(0, 0, 0, 0.2);
            z-index:1;
            .title {
                position: absolute;
                left: 5%;
                color: #fff;
                font-size: 0.2rem;
                font-family: fantasy;
            }
            .nav-wrapper {
                float: right;
                width: 50%;
                height: 100%;
                .ant-menu {
                    height: 100%;
                    background: transparent;
                    border-color: transparent;
                    color: #fff;
                    line-height: 0.64rem;
                }
            }
        }
        .content-wrapper {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: auto;
            background-color: rgba(239, 222, 225, 0.1);
        }
    }
  }
}