//主色
$primary-color:#ff6666;

//标准色
$green:#000;
$red:#000;

//文字颜色、标题颜色、背景颜色、字体大小
$body-background:#fff;
$text-color:#ff6666;
$text-color-secondary:#fff;
$font-size-sm:12px;
$font-size-base:14px;
$font-size-lg:16px;

//边框颜色以及圆角
$border-color-base:#000;
$border-color-split:#fff;
$border-base:1px solid #fff;
$border-split:1px solid #fff;
$border-radius-base:0px;
$border-radius-lg:4px;

//行高
$line-height-sm:28px;
$line-height-normal:30px;
$line-height-lg:36px;

//间距
$space-sm:5px;
$space-base:10px;
$space-lg:20px;